<template>
  <v-app id="login">
    <v-content>
      <div id="outer-container">
        <v-progress-linear id="progress-bar" :indeterminate="true" v-if="showLoader"></v-progress-linear>
        <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title >Login</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>
                  <v-text-field prepend-icon="person" name="email" label="E-mail" type="text" v-model="input.email" :rules="emailRules" required></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" label="Password" type="password" v-model="input.password" :rules="passwordRules" required @keydown.enter="login"></v-text-field>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" @click="login" :disabled="!valid">Login</v-btn>
              </v-card-actions>
                </v-form>
              </v-card-text>

            </v-card>
            <v-snackbar v-model="snackbar" :timeout="6000"> 
              {{ text }}
              <v-btn dark flat @click="snackbar = false">
                Close
              </v-btn>
            </v-snackbar>
          </v-flex>
        </v-layout>
      </v-container>
      </div>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      showLoader: false,
      valid: true,
      snackbar: false,
      text: "Invalid username and password, please try again.",
      passwordRules: [v => !!v || "Password is required"],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      input: {
        email: null,
        password: null
      }
    };
  },
  methods: {
    login() {
      let context = this;
      if (this.$refs.form.validate()) {
        this.showLoader = true;
        this.axios
          .post(
            `https://multivendor.dev.api.unoapp.io/api/application/admin/login`,
            {
              user_name: this.input.email,
              password: this.input.password
            },
            {
              headers: {
                Accept: "application/json",
                "Content-Type": "application/json"
              }
            }
          )
          .then(response => {
            localStorage.setItem(
              "app_id",
              JSON.stringify(response.data.App.app_id)
            );
            localStorage.setItem(
              "app_secret",
              JSON.stringify(response.data.App.app_secret)
            );
            localStorage.setItem(
              "token",
              JSON.stringify(response.data.session.token)
            );
            localStorage.setItem("isLoggedIn", true);
            this.$router.push("/restaurant");
          })
          .catch(error => {
            console.log(error);
            context.showLoader = false;
            context.snackbar = true;
          });
      }
    }
  }
};
</script>

<style scoped>
#outer-container {
  width: 100%;
  height: 100%;
}

#progress-bar {
  margin: 0;
}

.red--text {
  margin-left: 30px;
}
</style>
