<template>
  <div id="restaurant-details">
    <Navbar />
    <router-view/>
    <main>
      <v-container class="loader" v-if="showLoader">
        <v-progress-circular indeterminate color="primary" v-if="showLoader">
        </v-progress-circular>
      </v-container>
      <div class="grid-container" v-if="responseStatus === 200">
        <div class="grid-item" v-for="item in locationDetails.categories[0].items">
          <v-card color="blue darken-1" class="white--text">
            <v-container fluid grid-list-lg>
                  <div class="headline">{{item.name}}</div> <!-- Melts name -->
                  <v-divider dark></v-divider>
                  <div>{{ item.desc }}</div> <!-- Melts description -->
                  <ul v-for="modifier in item.modifiers">
                    <v-divider dark></v-divider>
                    <v-spacer></v-spacer>
                    <li id="optionalHeading">Optional toppings:</li>
                    <ul v-for="modifieritem in modifier.modifieritems">
                      <li>   {{ modifieritem.name }}</li> <!-- Optinal topping -->
                    </ul>
                  </ul>
            </v-container>
          </v-card>
        </div>
      </div>
      <div class="secondary-div" v-if="showNoInfoDiv">
        <h3>Information not provided by the restaurant.</h3>
      </div>
        <v-btn dark fab fixed bottom right @click="scrollToTop">
          <v-icon>keyboard_arrow_up</v-icon>
        </v-btn>
    </main>
  </div>
</template>

<script>
import Navbar from "../components/TheNavbar";
export default {
  name: "RestaurantDetails",
  components: {
    Navbar
  },
  data() {
    return {
      showLoader: false,
      showNoInfoDiv: false,
      locationDetails: {},
      responseStatus: null
    };
  },
  created() {
    this.fetchLocationDetails();
  },
  watch: {
    $route: "fetchLocationDetails"
  },
  methods: {
    fetchLocationDetails() {
      let context = this;
      this.showLoader = true;
      this.axios
        .get(
          "https://multivendor.dev.api.unoapp.io/api/app/menus/full/" +
            String(this.$route.params.id),
          {
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
              "app-id": JSON.parse(localStorage.getItem("app_id")),
              "app-secret": JSON.parse(localStorage.getItem("app_secret"))
            }
          }
        )
        .then(response => {
          this.showLoader = false;
          this.responseStatus = response.status;
          this.locationDetails = response.data.payload[0];
        })
        .catch(error => {
          context.showLoader = false;
          context.showNoInfoDiv = true;
          console.log(error);
        });
    },
    scrollToTop() {
      window.scroll(0, 0);
    }
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  margin-left: -25px;
}

#optionalHeading,
.headline {
  font-weight: bold;
}

.secondary-div {
  margin-left: 20px;
}

.white--text {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2%;
  margin: 2%;
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 70px;
  }

  .grid-container {
    grid-template-columns: auto;
  }
}
</style>
