<template>
  <div id="restaurant-list">
    <Navbar />
    <router-view/>
    <main>
      <v-layout row wrap align-center justify-center>
        <v-container class="loader" v-if="showLoader">
          <v-progress-circular indeterminate color="primary" v-if="showLoader">
          </v-progress-circular>
        </v-container>
        <v-flex xs12 sm6 md4 lg3 xl2 class="text-sm" v-for="location in locations">
          <v-card>
            <v-card-media src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" height="200px">
            </v-card-media>
            <v-card-title primary-title>
              <div>
                <div class="headline">{{ location.display_name.toUpperCase() }}</div>
                <span class="grey--text">{{ location.address_line_1 }}, {{ location.city }}</span>
              </div>
            </v-card-title>
            <div class="grid-container">
              <div>
                <v-card-text>
                  <ul>
                    <li><v-icon>call</v-icon> {{ location.phone }}</li>
                    <li><v-icon>email</v-icon> {{ location.email }}</li>
                  </ul>
                </v-card-text>
              </div>
              <div class="grid-item">
                <router-link :to="{ name: 'RestaurantDetails', params: {id: location.id} }">
                  <v-btn raised dark>Know more</v-btn>
                </router-link>
              </div>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </main>
  </div>
</template>

<script>
import Navbar from "../components/TheNavbar";
export default {
  name: "RestaurantList",
  components: {
    Navbar
  },
  data() {
    return {
      showLoader: false,
      locations: {}
    };
  },
  created() {
    this.fetchLocations();
  },
  watch: {
    $route: "fetchLocations"
  },
  methods: {
    fetchLocations() {
      this.showLoader = true;
      this.axios
        .post(
          `https://multivendor.dev.api.unoapp.io/api/app/locations/all`,
          {
            rpp: 10,
            paginate: true,
            brand_id: 25
          },
          {
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
              "app-id": JSON.parse(localStorage.getItem("app_id")),
              "app-secret": JSON.parse(localStorage.getItem("app_secret")),
              "auth-token": JSON.parse(localStorage.getItem("token"))
            }
          }
        )
        .then(response => {
          this.showLoader = false;
          this.locations = response.data.payload.data;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
li {
  list-style: none;
  margin: 0 0 5px -20px;
}

a {
  text-decoration: none;
}

v-btn {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  margin: 1%;
  margin-top: 15%;
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 100px;
  }

  .text-sm {
    margin: 10px 20px 20px 20px;
  }
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 70px;
  }

  .text-sm {
    margin: 0 15px 15px 15px;
  }

  .grid-item {
    margin-left: 5%;
  }
}
</style>
