<template>
  <nav>
    <v-toolbar fixed dark color="primary">
      <v-toolbar-title>
        <router-link to="/restaurant" tag="span" id="heading">Discover restaurants</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
         <v-menu bottom left>
            <v-btn slot="activator" dark icon>
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile @click="logout">
                <v-list-tile-title>Logout</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
      </v-toolbar-items>
    </v-toolbar>
  </nav>
</template>

<script>
export default {
  name: "Navbar",
  methods: {
    logout() {
      this.axios
        .get(
          `https://multivendor.dev.api.unoapp.io/api/application/admin/logout`,
          {
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
              "app-id": JSON.parse(localStorage.getItem("app_id")),
              "app-secret": JSON.parse(localStorage.getItem("app_secret")),
              "auth-token": JSON.parse(localStorage.getItem("token"))
            }
          }
        )
        .then(() => {
          localStorage.clear();
          localStorage.setItem("isLoggedIn", false);
          this.$router.push("/");
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>

<style scoped>
#heading {
  cursor: pointer;
}
</style>
